
<script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ meta.url }}{{ page.url }}"
  },
  "headline": "{{ title | safe }}",
  "description": "{{ description | default(meta.description) | safe }}",
  "image": "{{ meta.url }}{{ image | default(meta.opengraph_default) }}",
  "author": {
    "@type": "Person",
    "name": "{{ meta.creator.name }}",
    "url": "https://jaycuthrell.com",
    "jobTitle": "Technology Executive Advisor"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ meta.siteName }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ meta.url }}/assets/images/favicon/icon-192x192.png"
    }
  },
  "datePublished": "{{ page.date | toIsoString }}",
  "dateModified": "{{ (lastUpdated if lastUpdated else page.date) | toIsoString }}"
}
</script>

