<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ meta.siteName }}",
  "url": "{{ meta.url }}",
  "description": "{{ meta.description }}",
  "publisher": {
    "@type": "Person",
    "name": "{{ meta.creator.name }}",
    "url": "{{ meta.url }}",
    "sameAs": [
      "https://cuthrell.consulting",
      "https://jaycuthrell.com",
      "https://linkedin.com/in/jaycuthrell",
      "https://github.com/jaycuthrell"
    ]
  }
}
</script>