<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "WebSite",
        "@id": "{{ meta.url }}#website",
        "url": "{{ meta.url }}",
        "name": "{{ meta.siteName }}",
        "description": "{{ meta.siteDescription }}",
        "inLanguage": "en-US",
        "publisher": {
          "@id": "{{ meta.url }}#person"
        }
      },
      {
        "@type": "Person",
        "@id": "{{ meta.url }}#person",
        "name": "{{ meta.author.name }}",
        "url": "{{ meta.author.website }}"
      }
    ]
  }
</script>