---
layout: base
---

<div class="region wrapper flow prose" style="--region-space-top: var(--space-xl-2xl)">
  <h1 class="gradient-text">{{ title }}</h1>
  {{ content | safe }}
</div>

{% include 'partials/subscribe.njk' %}

{%- css "local" -%}
  {%- include 'css/forms.css' -%}
{%- endcss -%}
