---
fontDisplay: "'Red Hat Display', Ubuntu" # needed created in local development, font must be installed on your system.
fontBody: "'Atkinson Hyperlegible', Ubuntu" # needed created in local development, font must be installed on your system.
fontEmoji: "'Noto Color Emoji', sans-serif" # needed created in local development, font must be installed on your system.
fontAppleEmoji: "'Apple Color Emoji', sans-serif" # needed created in local development, font must be installed on your system.
background: '#FB923C'
text: '#000000'
contrastText: '#FFFFFF'
siteUrl: 'fudge.org'
pagination:
  data: collections.allPosts
  size: 1
  alias: post
permalink: '/assets/og-images/{{ post.data.title | slugify }}-preview.svg'
eleventyExcludeFromCollections: true
---
<svg
  width="1200"
  height="630"
  viewBox="0 0 1200 630"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <defs>
    <filter id="shadow" x="-10%" y="-10%" width="120%" height="120%">
      <feDropShadow dx="0" dy="4" stdDeviation="6" flood-color="#000000" flood-opacity="0.25"/>
    </filter>
  </defs>

  {% set split = post.data.title | splitTitle %}
  {% set titleInLines = split.main | splitlines(26) %}

  <rect id="bg" width="100%" height="100%" fill="{{ background }}" />
  
  <text 
    x="600" y="480" 
    font-family="{{ fontDisplay }}, sans-serif" 
    font-size="450" 
    font-weight="900" 
    fill="#FFFFFF" 
    opacity="0.07" 
    text-anchor="middle" 
    letter-spacing="-15"
  >
    WTF
  </text>

  <g transform="translate(50, -150) scale(1.1)">
    <path fill="#FB923D" d="M235.048 2.31017L565.808 192.455L910.285 28.026L831.43 401.258L1094.33 677.671L714.848 718.199L533.127 1053.8L377.382 705.568L2.18875 636.646L285.207 380.519L235.048 2.31017Z" stroke="white" stroke-opacity="0.1" stroke-width="5"/>
  </g>

  {% if split.eyebrow %}
  <text
    font-family="{{ fontBody }}, {{ fontEmoji }}, sans-serif"
    font-size="32"
    font-weight="600"
    fill="#000000"
    opacity="0.65"
    letter-spacing="1"
    x="150"
    y="160"
  >
    {{ split.eyebrow | upper }}
  </text>
  {% endif %}

  <text
    id="text"
    font-family="{{ fontDisplay }}, {{ fontEmoji }}, sans-serif"
    font-size="82"
    font-weight="900"
    fill="#FFFFFF"
    letter-spacing="-1"
    text-rendering="geometricPrecision" filter="url(#shadow)"
  >
    {% for line in titleInLines %}
      <tspan x="150" y="{{ 260 + loop.index0 * 95 }}">{{ line }}</tspan>
    {% endfor %}
  </text>

  <text
    font-family="{{ fontBody }}, {{ fontEmoji }}, sans-serif"
    font-size="28"
    font-weight="600"
    fill="#000000"
    opacity="0.8"
    letter-spacing="0"
    x="150"
    y="550"
  >
    {{ siteUrl }}
  </text>

  <text
    font-family="{{ fontAppleEmoji }}, {{ fontEmoji }}, sans-serif"
    font-size="24"
    font-weight="900"
    fill="#000000"
    opacity="0.8"
    letter-spacing="0"
    x="1050"
    y="550"
    text-anchor="end"
  >
    {{ meta.siteName | upper }}
  </text>
</svg>