---
permalink: /podcast.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ youtubePodcast.title }}</title>
    <link>{{ youtubePodcast.link }}</link>
    <language>en-us</language>
    
    <!-- Show-level descriptions required by Apple -->
    <description>What The Fudge podcast by Jay Cuthrell on fudge.org.</description>
    <itunes:summary>What The Fudge podcast by Jay Cuthrell on fudge.org.</itunes:summary>
    
    <itunes:author>Jay Cuthrell</itunes:author>
    <itunes:type>episodic</itunes:type>
    <copyright>&#xA9; 2026 Jay Cuthrell</copyright>
    
    <!-- Required owner block for Apple Podcasts Connect verification -->
    <itunes:owner>
      <itunes:name>Jay Cuthrell</itunes:name>
      <itunes:email>jay@cuthrell.com</itunes:email>
    </itunes:owner>

    <itunes:explicit>no</itunes:explicit>
    <itunes:image href="https://fudge.org/assets/images/template/podcast.png"/>
    <itunes:category text="Technology"/>
    
    {% for item in youtubePodcast.items %}
    <item>
      <title>{{ item.title }}</title>
      <link>{{ item.link }}</link>
      <pubDate>{{ item.pubDate }}</pubDate>
      <guid isPermaLink="false">{{ item.guid }}</guid>
      <description><![CDATA[{{ item.description | safe }}]]></description>
      
      <enclosure 
        url="{{ item.audio_url }}" 
        type="audio/mpeg" 
        length="{{ item.audio_size }}"
      />
    </item>
    {% endfor %}
  </channel>
</rss>