<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper">
    <div class="cluster gutter-xs">
    <div class="subscription-card | flow">
  <h2 class="text-step-2">Subscribe to Fudge Factor</h2>
  <p>Get the latest articles and updates delivered straight to your inbox.</p>
  <form
    action="{{ meta.subscribeUrl }}"
    method="post"
    target="popupwindow"
    onsubmit="window.open('{{ meta.url }}', 'popupwindow')"
    class="form-group flow"
    style="padding: 20px; border-radius: 5px;"
  />
    <div class="cluster">
      <label for="email" class="visually-hidden">Email (required)</label>
      <input 
        type="email" 
        name="email" 
        id="email" 
        class="form-input"
        placeholder="you@example.com" 
        required 
        style="background-color: #ffffff; color: #000000;"
      />
      <p><input type="text" name="name" placeholder="Name (optional)" /></p>
      <input type="hidden" name="l" value="3" />
      <input type="hidden" name="nonce" />
      <p>
      <input id="3f96e" type="checkbox" name="l" checked value="3f96e54c-4388-41c6-adb0-fb6a412197f1" />
      <label for="3f96e">fudgefactor</label>
      <br />
      <span>Fudge Factor 🤔💡🤯🤓 newsletter by Jay Cuthrell</span>
      </p>
      <button type="submit" class="button" data-button-variant="primary">Subscribe</button>
    </div>
  </form>
</div>

      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        &copy; {% year %}
        <a href="/" {{ indicateActiveHome }}
          ><span class="font-display">{{ meta.siteName }}</span> <small>{{ pkg.version }}</small>
        </a>

        {% for item in navigation.bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>

      <nav class="cluster" aria-label="{{ meta.navigation.ariaPlatforms }}">
        <!-- gets the first item from the feed loop set in meta -->
        <a href="{{ meta.blog.feedLinks[0].url }}" rel="alternate" type="{{ meta.blog.feedLinks[0].type }}">
          <span class="visually-hidden">{{ meta.blog.feedLinks[0].title }}</span>
          {% svg "misc/rss" %}
        </a>

        {% for key, value in personal.platforms %}
          {% if value != "" %}
            <!-- regular platforms -->
            <a class="no-indicator" href="{{ value }}" rel="me">
              <span class="visually-hidden">{{ key | capitalize }}</span>
              {% svg 'platform/' + key %}
            </a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>

    {% include 'partials/theme-switch.njk' %}

    <aside class="creator | cluster gutter-2xs text-step-min-1 mt-xl">
      Made with <span class="visually-hidden">love</span> <span>{% svg "misc/heart" %}</span> and
      <a class="no-indicator" href="https://www.11ty.dev/">{% svg "misc/11ty", "Eleventy" %}</a> by
      <a href="{{ meta.creator.website }}">{{ meta.creator.name }}</a>
    </aside>
  </div>
</footer>

{%- css "local" -%}
  {%- include 'css/forms.css' -%}
{%- endcss -%}
