<!-- src/_includes/partials/sponsor-snippet.njk -->
<div class="sponsor-snippet" style="margin-top: 4rem; padding: 2.5rem; border-radius: 10px;">
  Learn about <a href="/sponsorship/">our sponsors</a>:
  <br>
  <br>
  <a href="https://lida.thrivecart.com/coaching-for-2026/" target="_blank" rel="noopener noreferrer" class="button">
    🔓 Unlock Your Best Self with Lida Coaching! 50% off regular coaching rates until July 31, 2026!
  </a>
</div>