<!-- src/_includes/partials/sponsor.njk -->
<div class="sponsor" style="margin-top: 4rem; padding: 2.5rem; border-radius: 10px;">
  <h3>Enjoyed this post?</h3>
  <br>
  <br>
  <p>Consider supporting my sponsor!</p>
  <br>
  <br>
  <a href="https://lida.thrivecart.com/coaching-for-2026/" target="_blank" rel="noopener noreferrer" class="button">
    🔓 Unlock Your Best Self with Lida Coaching! 50% off regular coaching rates until July 31, 2026!
  </a>
  <br>
  <br>
  A quick message from Lida: 
  <br>
  <blockquote>
  With 18 years building, marketing, and scaling products at startups, I work with founders and leaders stuck between where they are and where they need to be. I help you cut through the noise, make sharper decisions, and get your team executing with clarity instead of chaos.
  <br>
  <br>
  Most founders mistake complexity for strategy. They keep adding when they should be subtracting. When I'm brought in, the team is usually doing a lot right, and the real issue is focus and direction. I diagnose what's actually going wrong across product, positioning, and execution, then reset direction and get everyone aligned around one clear path forward that will lead to growth.
  <br>
  <br>
  A bit of what I've done: I was the first PM on a fintech product that hit 10,000+ users within months, built a national incubator that supported over $500M in startup funding, and led teams at 23 Design before it was acquired by frog (the design team behind Apple’s first products). I've spoken at Google, Microsoft, and LinkedIn, etc.
  </blockquote>
  <br>
  <br>
  <a href="https://lida.thrivecart.com/coaching-for-2026/" target="_blank" rel="noopener noreferrer" class="button">
    🔓 Unlock Your Best Self with Lida Coaching! 50% off regular coaching rates until July 31, 2026!
  </a>
  </div>